[Unit]
Description=Prometheus
After=syslog.target
After=network.target


[Service]
Type=simple
User={{ ans_e_prometheus_user_name }}
Group={{ ans_e_prometheus_user_group }}
WorkingDirectory={{ ans_e_prometheus_home }}
ExecStart={{ ans_e_prometheus_home }}/prometheus \
  --config.file={{ ans_e_prometheus_home }}/prometheus.yml \
  --web.listen-address=:{{ ans_e_prometheus_port }}
Restart=always
Environment=USER={{ ans_e_prometheus_user_name }} HOME={{ ans_e_prometheus_home }}


[Install]
WantedBy=multi-user.target
